# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out

# production
build
dist

# misc
.DS_Store
*.pem
.env*
!.env.example

# debug
*.log*

# expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
ios/Pods
android/.gradle
android/app/build

# IDE
.idea
.vscode
*.swp
*.swo

# cache
.turbo
.cache
.eslintcache

# typescript
*.tsbuildinfo

# temp
*.tmp
Thumbs.db
.history
.lh
.vercel

# old files
*_old
*.bak