# Environment variables
.env
.env.local
.env.*.local

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
*.log.*
.tmp/
.temp/

# Testing
coverage/

# Build
build/
*.ipa
*.apk
*.aab
